* { 
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: HKGroteskmine;
	src: url(./HKGroteskmine.woff);
  }
  

html, body {
	min-height: 100%;
	font-family: HKGroteskmine;
	font-weight: 300;
	color: #000000;
	line-height: 1.6;	
}

.bannert {
	border-bottom: 1px solid #000000;
	height: 30px;
	width: 100%;
	overflow: hidden;
}
	
body, ul, ol, dl {
	margin: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #000000;
}
	
h1 {
	font-weight: 300;
	line-height: 1.2;
	margin: 0px 0;
	padding-left: 70px;
	padding-top: 20px;
}

h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 0px 0px 0px 0;
	padding-top: 65px;
	justify-self: right;
	padding-right: 80px
}

@media (max-width : 890px) {
	.disappear {
		display: none;
		background: none;
	}
}

h3 {
	font-weight: 600;
	line-height: 1.2;
	margin: 0px auto;
	padding-left: 80px;
	padding-top: 50px;
	font-size: 20px;
}

h4 {
	font-weight: 300;
	line-height: 1.2;
	margin: 0px 0px 0px 0;
	padding-left: 80px;
	padding-top: 20px;
	font-size: 20px;
	padding-right: 80px;
}
	
p { 
	margin: 10px p;
} 
	
img { 
	width: 100%;
}

hr {
	margin: 0 auto;
	width: 90%;
	color:#000;
	background:#000;
	height:1px;
	border:none;
 }

.footer {
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #000000;
	height: 30px;
	width: 100%;
	overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

span:after, 
span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
	text-decoration-thickness: 1px;
	font-family: monospace;
}

.grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.navbar {
	height: 70px;
	padding-top: 10px;
	padding-right: 70px;

}

.navbar ul{
	display: inline;
	text-align: right;
}


tinyblur{
    display: block;
}

a.one:hover + tinyblur{
    display: block;
}

a.two:hover tinyblur{
    display: block;
}

.navbar li {
	display: inline;
	font-size: 20px;
  }

.navbar navitem li {
	background-image:url(../imgs/tinyblur.svg) no-repeat center 100px;
	background-size: 400px auto;
	background-position:center;
	width:100px;
	height:100px;
}

.navbar a{
	padding: 10px;
	margin: 0 5px;
	float: right;
}

/*
.navbar a:hover{
	border-bottom: 1px #000 solid;
}*/
